<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="data.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="#">
</head>
<body>
    <h1 style="text-align: center;">Looney Toons</h1>
    <div id="looney-toons-wrapper"></div>
</body>
<script type="text/template" id="looney-toons-template">
  <div style="text-align:center;">
  <% collection.forEach(function(item){ %>
  	<hr>
  	<img src="<%= item.pic %> " alt="<%= item.name %>" style="width: 200px;">
	<h3><%= item.name %> <%= item.type %></h3>
	<p>Strength: <%= item.strength %></p>
	<p>Weakness: <%= item.weakness %></p>
  <% }); %>
  </div>
</script>
</html>